body{
text-align:center;
font-family:Arial;
background:#ffe4ec;
touch-action:none;
}

canvas{
background:white;
border:3px solid black;
margin-top:20px;

max-width:95vw;
height:auto;
}

button{
font-size:22px;
padding:14px 28px;
margin:12px;
cursor:pointer;
touch-action: manipulation;
}

#resultText{
font-size:48px;
font-weight:bold;
color:red;
}
